<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>singin</title>
  <link rel="stylesheet" href="singin.css">
</head>
<body>
  


  <div class="conteiner_form_Singin">

         




       <form class="form_singin"  action="" method="POST">
            <div id="xs">x</div>

          <div id="singin_b"><b>הרשמה</b></div>


            <label for="email"><p></p></label>
            <input type="email" name="email" placeholder="מייל" maxlength="50"> 

            <label for="name" ><p></p></label>
            <input type="text" name="name" placeholder="שם משתמש" maxlength="50">

            <label for="password"><p></p></label>
            <input type="password"  name="password" placeholder="סיסמה">  

            
 
        
            <button class="btn_singin" type="submit" value="הרשם">הרשם</button>
        </form>


 <script src="singin.js"></script>
</div>
</body>
</html>