header{
  background-color: silver;
  /* height: 10%; */
  /* width: 100%; */
  /* padding: 2px; */
  /* text-align: center; */

}
.btn{
  background-color: #c4bfbf;
  margin:4px;
 text-decoration: none;
  padding: 10px;
  text-align:center ;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  transition: all 0.5s ease;
  font-size: 80%;
  font-weight: bold;
  cursor: pointer;


}
.btn:hover{
  color:rgb(206, 240, 234);
  box-shadow: 0cm 0cm 0.1cm 0.1cm rgb(245, 241, 233);
}


nav ul {
  float: right;
}
nav h1 {
  color: rgb(10, 9, 9);
  font-size: 2em;
  float: left;
  font-size: 2em;
  margin: auto  ;  
  text-align: center;
  justify-content: center;
}
#i{
  width: 0.2%;
  height: 1%;
  background-color: #0f0f13;
  border-radius: 1px;
  z-index: 2;

}
nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  padding: 12px;
  border-radius: 5px;
}
nav div a {
  color: rgb(12, 13, 14);
  text-decoration: none;
  transition: all 0.5s ease;
  margin: 0 10px;
  font-size:  190%;
}
nav div a:hover {
  color: rgb(223, 240, 227);
}
.conteiner_form_Login{
width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0cm 0cm 0.1cm 0.1cm rgb(245, 241, 233);
/* display: none ;   */
  position: fixed; 
  z-index: 1;     
  top: 0;
  width: 100%; 
  height: 100%; 
   overflow: auto;
  background-color: rgb(221, 4, 4); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
  

}
.conteiner_form_Login input  {

  border: none;
  border: 2px solid silver;
  background-color: rgb(190, 209, 214);
  transition: all 0.5s ease;
  position:   relative;
  height:50%;
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(10, 9, 9);
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  border: none;
  border-radius: 3px;
  transition: all 0.5s ease;
  font-size: 80%;
  /* font-weight: bold; */
}

.form_login{
  
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(1, 1fr);
 top: 0;
  /* left: 10; */
  width: 30%;
  height: 50%;
  background-color: rgb(220, 230, 233);
  margin-left: 30%;
  margin-top: 13%;
  padding: 20px;
  border-radius: 5px;
  transition: all 0.5s ease;
  font-size:  100%;
  font-weight: bold;
  border: 2px solid silver;

}
#x{
  position: relative;
  top: -20px;
  width: 0.2%;
  font-size: large;
  color: rgb(10, 9, 9);
  font-size: 2em;
  font-size: 2em;
  cursor: pointer;
}
#x:hover{
  color: rgb(212, 52, 28);

}
#login_b{
  width: 100%;
  position: relative;
  font-size: 230%;
  color: rgb(239, 230, 230);
  background-color: rgb(15, 74, 74);
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  align-content: center;
  
  
}
.btn_login{
color: rgb(15, 74, 74);
  background-color: rgb(145, 160, 164);
  transition: all 0.5s ease;
  border: none;
  height: 100%;
  font-size: 139%;
 
}
.btn_login:hover{
  color:rgb(18, 36, 33);
  box-shadow: 0cm 0cm 0.1cm 0.1cm rgb(15, 74, 74);
}

.remember{
color: rgb(50, 22, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  padding: 12px;
  border-radius: 5px;
 

}



.conteiner_form_Singin{
width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0cm 0cm 0.1cm 0.1cm rgb(245, 241, 233);
/* display: none ;   */
  position: fixed; 
  z-index: 1;     
  top: 0;
  width: 100%; 
  height: 100%; 
   overflow: auto;
  background-color: rgb(221, 4, 4); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
  
}
 
.form_singin{
  
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(1, 1fr);
 top: 0;
  /* left: 10; */
  width: 30%;
  height: 50%;
  background-color: rgb(220, 230, 233);
  margin-left: 30%;
  margin-top: 13%;
  padding: 20px;
  border-radius: 5px;
  transition: all 0.5s ease;
  font-size:  100%;
  font-weight: bold;
  border: 2px solid silver;


}
.conteiner_form_Singin input  {

  border: none;
  border: 2px solid silver;
  background-color: rgb(190, 209, 214);
  transition: all 0.5s ease;
  position:   relative;
  height:50%;
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(10, 9, 9);
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  border: none;
  border-radius: 3px;
  transition: all 0.5s ease;
  font-size: 80%;
  /* font-weight: bold; */
  
}
#xs{
  width: 0.2%;
font-size: large;
  color: rgb(10, 9, 9);
  font-size: 2em;
  font-size: 2em;
  cursor: pointer;
}
#xs:hover{
  color: rgb(212, 52, 28);
}
.btn_singin{
color: rgb(15, 74, 74);
  background-color: rgb(145, 160, 164);
  transition: all 0.5s ease;
  border: none;
  height: 100%;
  font-size: 139%;
}
.btn_singin:hover{
  color:rgb(206, 240, 234);
  box-shadow: 0cm 0cm 0.1cm 0.1cm rgb(204, 187, 153);
}
#singin_b{
 width: 100%;
  position: relative;
  font-size: 230%;
  color: rgb(239, 230, 230);
  background-color: rgb(15, 74, 74);
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  align-content: center;
}