body{
          background-color: rgb(68, 94, 94);
}

/* header{
  background-color: silver;
  

} */

#my_name{
  text-align: center;
  font-size: 30px;
  color: #c4bfbf;
  font-family: "Times New Roman", Times, serif;
  border: 3px solid silver;
  border-radius: 5px;
  padding: 10px;
  margin-top: 1%;
  margin-left: 2%;

}
.btn{
  background-color: #c4bfbf;
  margin:4px;
 text-decoration: none;
  padding: 10px;
  text-align:center ;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  transition: all 0.5s ease;
  font-size: 80%;
  font-weight: bold;
  cursor: pointer;

}
.btn:hover{
  color:rgb(206, 240, 234);
  box-shadow: 0cm 0cm 0.1cm 0.1cm rgb(245, 241, 233);
}

nav ul {
  float: right;
}
nav h1 {
  color: rgb(10, 9, 9);
  font-size: 2em;
  float: left;
  font-size: 2em;
  margin: auto  ;  
  text-align: center;
  justify-content: center;
}
#i{
  width: 0.2%;
  height: 1%;
  background-color: #0f0f13;
  border-radius: 1px;
  z-index: 2;

}
nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  padding: 12px;
  border-radius: 5px;
}
nav div a {
  color: rgb(12, 13, 14);
  text-decoration: none;
  transition: all 0.5s ease;
  margin: 0 10px;
  font-size:  190%;
}
nav div a:hover {
  color: rgb(223, 240, 227);
}
nav div a:active {
  color: rgb(230, 15, 15);
}
#logout{
  color: rgb(10, 241, 191);
  text-decoration: none;
  transition: all 0.5s ease;
  margin: 0 10px;
  font-size:  50%;
}
#logout:hover{
  color: rgb(209, 203, 209);
  font-size: 40px;
}
