<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>


<body id="body_home">
    <header>
    <nav>

        <!-- <h1>YEHOUDA AMAR</h1> -->
        
        <ul>
            <button class="btn">דף ראשי</button>
            <button class="btn">אדותנו</button>
            <button class="btn">צור קשר</button>
           
        </ul>

        <div class="underline">
         <a class="nav_btn_login" href="/login" >התחברות</a> <p id="i">|
         </p>
         <a class="nav_btn_singin" href="/singin">הרשמה</a>
      </div>

</header>



<!-- <div class="conteiner_form_Login"  style="display: none">

         

    

       <form  class="form_login"  >

            <div id="x"><p>x</p></div>

            <div id="login_b"><b>התחברות</b></div>


            <label for="email"><p></p></label>
            <input type="email" name="email" placeholder="מייל"> 
      

            <label for="password"><p></p></label>
            <input type="password"  name="password" placeholder="סיסמה">  

         
            <input class="remember" type="checkbox"  name="remember"  value="1"><p class="remember">זכור אותי</p>

            <button class="btn_login" type="submit">התחבר</button>

        </form>
   


</div> -->



<!-- // singin -->

<!-- <div class="conteiner_form_Singin" style="display: none">

         




       <form class="form_singin" >
            <div id="xs">x</div>

          <div id="singin_b"><b>הרשמה</b></div>


            <label for="email"><p></p></label>
            <input type="email" name="email" placeholder="מייל"> 

            <label for="name" ><p></p></label>
            <input type="text" name="name" placeholder="שם משתמש">

            <label for="password"><p></p></label>
            <input type="password"  name="password" placeholder="סיסמה">  
 
        
            <button class="btn_singin" type="submit" value="הרשם">הרשם</button>
        </form>


 
</div> -->


 

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="home.js"></script>
</body>
</html>